[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/icnftt"]
	path = lib/icnftt
	url = https://github.com/tesseract-protocol/icnftt
[submodule "lib/creator-token-standards"]
	path = lib/creator-token-standards
	url = https://github.com/limitbreakinc/creator-token-standards
